.s-about, .s-result, .s-table {
  padding: 80px 0; }
  @media (max-width: 1400px) {
    .s-about, .s-result, .s-table {
      padding: 60px 0; } }
  @media (max-width: 680px) {
    .s-about, .s-result, .s-table {
      padding: 40px 0; } }

body.compensate-for-scrollbar {
  overflow: hidden; }

.fancybox-active {
  height: auto; }

.fancybox-is-hidden {
  left: -9999px;
  margin: 0;
  position: absolute !important;
  top: -9999px;
  visibility: hidden; }

.fancybox-container {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  height: 100%;
  left: 0;
  position: fixed;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  width: 100%;
  z-index: 99992; }

.fancybox-container * {
  box-sizing: border-box; }

.fancybox-outer,
.fancybox-inner,
.fancybox-bg,
.fancybox-stage {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.fancybox-outer {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto; }

.fancybox-bg {
  background: #1e1e1e;
  opacity: 0;
  transition-duration: inherit;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71); }

.fancybox-is-open .fancybox-bg {
  opacity: .87;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1); }

.fancybox-infobar,
.fancybox-toolbar,
.fancybox-caption,
.fancybox-navigation .fancybox-button {
  direction: ltr;
  opacity: 0;
  position: absolute;
  transition: opacity .25s, visibility 0s linear .25s;
  visibility: hidden;
  z-index: 99997; }

.fancybox-show-infobar .fancybox-infobar,
.fancybox-show-toolbar .fancybox-toolbar,
.fancybox-show-caption .fancybox-caption,
.fancybox-show-nav .fancybox-navigation .fancybox-button {
  opacity: 1;
  transition: opacity .25s, visibility 0s;
  visibility: visible; }

.fancybox-infobar {
  color: #ccc;
  font-size: 13px;
  -webkit-font-smoothing: subpixel-antialiased;
  height: 44px;
  left: 0;
  line-height: 44px;
  min-width: 44px;
  mix-blend-mode: difference;
  padding: 0 10px;
  pointer-events: none;
  text-align: center;
  top: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.fancybox-toolbar {
  right: 0;
  top: 0; }

.fancybox-stage {
  direction: ltr;
  overflow: visible;
  -webkit-transform: translate3d(0, 0, 0);
  z-index: 99994; }

.fancybox-is-open .fancybox-stage {
  overflow: hidden; }

.fancybox-slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: none;
  height: 100%;
  left: 0;
  outline: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: absolute;
  text-align: center;
  top: 0;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  white-space: normal;
  width: 100%;
  z-index: 99994; }

.fancybox-slide::before {
  content: '';
  display: inline-block;
  height: 100%;
  margin-right: -.25em;
  vertical-align: middle;
  width: 0; }

.fancybox-is-sliding .fancybox-slide,
.fancybox-slide--previous,
.fancybox-slide--current,
.fancybox-slide--next {
  display: block; }

.fancybox-slide--next {
  z-index: 99995; }

.fancybox-slide--image {
  overflow: visible;
  padding: 44px 0; }

.fancybox-slide--image::before {
  display: none; }

.fancybox-slide--html {
  padding: 6px 6px 0 6px; }

.fancybox-slide--iframe {
  padding: 44px 44px 0; }

.fancybox-content {
  background: #fff;
  display: inline-block;
  margin: 0 0 6px 0;
  max-width: 100%;
  overflow: auto;
  padding: 0;
  padding: 24px;
  position: relative;
  text-align: left;
  vertical-align: middle; }

.fancybox-slide--image .fancybox-content {
  -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
  animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 0;
  margin: 0;
  max-width: none;
  overflow: visible;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 99995; }

.fancybox-can-zoomOut .fancybox-content {
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.fancybox-can-zoomIn .fancybox-content {
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }

.fancybox-can-drag .fancybox-content {
  cursor: -webkit-grab;
  cursor: grab; }

.fancybox-is-dragging .fancybox-content {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

.fancybox-container [data-selectable='true'] {
  cursor: text; }

.fancybox-image,
.fancybox-spaceball {
  background: transparent;
  border: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%; }

.fancybox-spaceball {
  z-index: 1; }

.fancybox-slide--html .fancybox-content {
  margin-bottom: 6px; }

.fancybox-slide--video .fancybox-content,
.fancybox-slide--map .fancybox-content,
.fancybox-slide--iframe .fancybox-content {
  height: 100%;
  margin: 0;
  overflow: visible;
  padding: 0;
  width: 100%; }

.fancybox-slide--video .fancybox-content {
  background: #000; }

.fancybox-slide--map .fancybox-content {
  background: #e5e3df; }

.fancybox-slide--iframe .fancybox-content {
  background: #fff;
  height: calc(100% - 44px);
  margin-bottom: 44px; }

.fancybox-video,
.fancybox-iframe {
  background: transparent;
  border: 0;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%; }

.fancybox-iframe {
  vertical-align: top; }

.fancybox-error {
  background: #fff;
  cursor: default;
  max-width: 400px;
  padding: 40px;
  width: 100%; }

.fancybox-error p {
  color: #444;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0; }

/* Buttons */
.fancybox-button {
  background: #2f7bff;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 44px;
  margin: 0;
  outline: none;
  padding: 10px;
  transition: color .2s ease;
  vertical-align: top;
  width: 44px; }

.fancybox-button,
.fancybox-button:visited,
.fancybox-button:link {
  color: #fff; }

.fancybox-button:focus,
.fancybox-button:hover {
  color: #fff;
  background: #498bff; }

.fancybox-button.disabled,
.fancybox-button.disabled:hover,
.fancybox-button[disabled],
.fancybox-button[disabled]:hover {
  opacity: 0.3 !important;
  cursor: default; }

.fancybox-button svg {
  display: block;
  overflow: visible;
  position: relative;
  shape-rendering: geometricPrecision; }

.fancybox-button svg path {
  fill: transparent;
  stroke: currentColor;
  stroke-linejoin: round;
  stroke-width: 3; }

.fancybox-button--play svg path:nth-child(2) {
  display: none; }

.fancybox-button--pause svg path:nth-child(1) {
  display: none; }

.fancybox-button--play svg path,
.fancybox-button--share svg path,
.fancybox-button--thumbs svg path {
  fill: currentColor; }

.fancybox-button--share svg path {
  stroke-width: 1; }

/* Navigation arrows */
.fancybox-navigation .fancybox-button {
  height: 38px;
  opacity: 0;
  padding: 6px;
  position: absolute;
  top: 50%;
  width: 38px; }

.fancybox-show-nav .fancybox-navigation .fancybox-button {
  transition: opacity .25s, visibility 0s, color .25s; }

.fancybox-navigation .fancybox-button::after {
  content: '';
  left: -25px;
  padding: 50px;
  position: absolute;
  top: -25px; }

.fancybox-navigation .fancybox-button--arrow_left {
  left: 6px; }

.fancybox-navigation .fancybox-button--arrow_right {
  right: 6px; }

/* Close button on the top right corner of html content */
.fancybox-close-small {
  background: transparent;
  border: 0;
  border-radius: 0;
  color: #555;
  cursor: pointer;
  height: 44px;
  margin: 0;
  padding: 6px;
  position: absolute;
  right: 0;
  top: 0;
  width: 44px;
  z-index: 10; }

.fancybox-close-small svg {
  fill: transparent;
  opacity: .8;
  stroke: currentColor;
  stroke-width: 1.5;
  transition: stroke .1s; }

.fancybox-close-small:focus {
  outline: none; }

.fancybox-close-small:hover svg {
  opacity: 1; }

.fancybox-slide--image .fancybox-close-small,
.fancybox-slide--video .fancybox-close-small,
.fancybox-slide--iframe .fancybox-close-small {
  color: #ccc;
  padding: 5px;
  right: -12px;
  top: -44px; }

.fancybox-slide--image .fancybox-close-small:hover svg,
.fancybox-slide--video .fancybox-close-small:hover svg,
.fancybox-slide--iframe .fancybox-close-small:hover svg {
  background: transparent;
  color: #fff; }

.fancybox-is-scaling .fancybox-close-small,
.fancybox-is-zoomable.fancybox-can-drag .fancybox-close-small {
  display: none; }

/* Caption */
.fancybox-caption {
  bottom: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  line-height: 1.5;
  padding: 25px 44px 25px 44px;
  right: 0; }

.fancybox-caption::before {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAEtCAQAAABjBcL7AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHRJREFUKM+Vk8EOgDAIQ0vj/3+xBw8qIZZueFnIKC90MCAI8DlrkHGeqqGIU6lVigrBtpCWqeRWoHDNqs0F7VNVBVxmHRlvoVqjaYkdnDIaivH2HqZ5+oZj3JUzWB+cOz4G48Bg+tsJ/tqu4dLC/4Xb+0GcF5BwBC0AA53qAAAAAElFTkSuQmCC);
  background-repeat: repeat-x;
  background-size: contain;
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: -25px;
  z-index: -1; }

.fancybox-caption::after {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  content: '';
  display: block;
  left: 44px;
  position: absolute;
  right: 44px;
  top: 0; }

.fancybox-caption a,
.fancybox-caption a:link,
.fancybox-caption a:visited {
  color: #ccc;
  text-decoration: none; }

.fancybox-caption a:hover {
  color: #fff;
  text-decoration: underline; }

/* Loading indicator */
.fancybox-loading {
  -webkit-animation: fancybox-rotate .8s infinite linear;
  animation: fancybox-rotate .8s infinite linear;
  background: transparent;
  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  border-top-color: #2f7bff;
  height: 60px;
  left: 50%;
  margin: -30px 0 0 -30px;
  opacity: .6;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 60px;
  z-index: 99999; }

@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

/* Transition effects */
.fancybox-animated {
  transition-timing-function: cubic-bezier(0, 0, 0.25, 1); }

/* transitionEffect: slide */
.fancybox-fx-slide.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.fancybox-fx-slide.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.fancybox-fx-slide.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* transitionEffect: fade */
.fancybox-fx-fade.fancybox-slide--previous,
.fancybox-fx-fade.fancybox-slide--next {
  opacity: 0;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }

.fancybox-fx-fade.fancybox-slide--current {
  opacity: 1; }

/* transitionEffect: zoom-in-out */
.fancybox-fx-zoom-in-out.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: scale3d(1.5, 1.5, 1.5);
  transform: scale3d(1.5, 1.5, 1.5); }

.fancybox-fx-zoom-in-out.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  transform: scale3d(0.5, 0.5, 0.5); }

.fancybox-fx-zoom-in-out.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1); }

/* transitionEffect: rotate */
.fancybox-fx-rotate.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  transform: rotate(-360deg); }

.fancybox-fx-rotate.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg); }

.fancybox-fx-rotate.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

/* transitionEffect: circular */
.fancybox-fx-circular.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
  transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0); }

.fancybox-fx-circular.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
  transform: scale3d(0, 0, 0) translate3d(100%, 0, 0); }

.fancybox-fx-circular.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0); }

/* transitionEffect: tube */
.fancybox-fx-tube.fancybox-slide--previous {
  -webkit-transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
  transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg); }

.fancybox-fx-tube.fancybox-slide--next {
  -webkit-transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
  transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg); }

.fancybox-fx-tube.fancybox-slide--current {
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1); }

/* Share */
.fancybox-share {
  background: #f4f4f4;
  border-radius: 3px;
  max-width: 90%;
  padding: 30px;
  text-align: center; }

.fancybox-share h1 {
  color: #222;
  font-size: 35px;
  font-weight: 700;
  margin: 0 0 20px 0; }

.fancybox-share p {
  margin: 0;
  padding: 0; }

.fancybox-share__button {
  border: 0;
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  margin: 0 5px 10px 5px;
  min-width: 130px;
  padding: 0 15px;
  text-decoration: none;
  transition: all .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap; }

.fancybox-share__button:visited,
.fancybox-share__button:link {
  color: #fff; }

.fancybox-share__button:hover {
  text-decoration: none; }

.fancybox-share__button--fb {
  background: #3b5998; }

.fancybox-share__button--fb:hover {
  background: #344e86; }

.fancybox-share__button--pt {
  background: #bd081d; }

.fancybox-share__button--pt:hover {
  background: #aa0719; }

.fancybox-share__button--tw {
  background: #1da1f2; }

.fancybox-share__button--tw:hover {
  background: #0d95e8; }

.fancybox-share__button svg {
  height: 25px;
  margin-right: 7px;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 25px; }

.fancybox-share__button svg path {
  fill: #fff; }

.fancybox-share__input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #d7d7d7;
  border-radius: 0;
  color: #5d5b5b;
  font-size: 14px;
  margin: 10px 0 0 0;
  outline: none;
  padding: 10px 15px;
  width: 100%; }

/* Thumbs */
.fancybox-thumbs {
  background: #fff;
  bottom: 0;
  display: none;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 2px 2px 4px 2px;
  position: absolute;
  right: 0;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  width: 212px;
  z-index: 99995; }

.fancybox-thumbs-x {
  overflow-x: auto;
  overflow-y: hidden; }

.fancybox-show-thumbs .fancybox-thumbs {
  display: block; }

.fancybox-show-thumbs .fancybox-inner {
  right: 212px; }

.fancybox-thumbs > ul {
  font-size: 0;
  height: 100%;
  list-style: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  position: relative;
  white-space: nowrap;
  width: 100%; }

.fancybox-thumbs-x > ul {
  overflow: hidden; }

.fancybox-thumbs-y > ul::-webkit-scrollbar {
  width: 7px; }

.fancybox-thumbs-y > ul::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

.fancybox-thumbs-y > ul::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 10px; }

.fancybox-thumbs > ul > li {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  cursor: pointer;
  float: left;
  height: 75px;
  margin: 2px;
  max-height: calc(100% - 8px);
  max-width: calc(50% - 4px);
  outline: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  width: 100px; }

.fancybox-thumbs-loading {
  background: rgba(0, 0, 0, 0.1); }

.fancybox-thumbs > ul > li {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.fancybox-thumbs > ul > li:before {
  border: 4px solid #4ea7f9;
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 99991; }

.fancybox-thumbs .fancybox-thumbs-active:before {
  opacity: 1; }

/* Styling for Small-Screen Devices */
@media all and (max-width: 800px) {
  .fancybox-thumbs {
    width: 110px; }
  .fancybox-show-thumbs .fancybox-inner {
    right: 110px; }
  .fancybox-thumbs > ul > li {
    max-width: calc(100% - 10px); } }

/*! Flickity v2.1.2
https://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative; }

.flickity-enabled:focus {
  outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%; }

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%; }

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

/* ---- flickity-button ---- */
.flickity-button {
  position: absolute;
  background: rgba(255, 255, 255, 0.75);
  border: none;
  color: #333; }

.flickity-button:hover {
  background: white;
  cursor: pointer; }

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19F; }

.flickity-button:active {
  opacity: 0.6; }

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none; }

.flickity-button-icon {
  fill: #333; }

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.flickity-prev-next-button.previous {
  left: 10px; }

.flickity-prev-next-button.next {
  right: 10px; }

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px; }

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px; }

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%; }

/* ---- page dots ---- */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1; }

.flickity-rtl .flickity-page-dots {
  direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer; }

.flickity-page-dots .dot.is-selected {
  opacity: 1; }

*, *:after, *:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

h1, h2, h3, h4, h5, h6, p, ul, ol, div, span {
  max-height: 5000em; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
  position: relative; }

img {
  border: none; }

/* This stylesheet generated by Transfonter (https://transfonter.org) on March 29, 2018 1:38 PM */
@font-face {
  font-family: 'Verdana';
  src: url("../fonts/Verdana.woff2") format("woff2"), url("../fonts/Verdana.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Verdana';
  src: url("../fonts/Verdana-BoldItalic.woff2") format("woff2"), url("../fonts/Verdana-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Verdana';
  src: url("../fonts/Verdana-Bold.woff2") format("woff2"), url("../fonts/Verdana-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Verdana';
  src: url("../fonts/Verdana-Italic.woff2") format("woff2"), url("../fonts/Verdana-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Exo';
  src: url("../fonts/Exo-Bold.woff2") format("woff2"), url("../fonts/Exo-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'ALS Rubl';
  src: url("../fonts/subset-ALSRubl.woff2") format("woff2"), url("../fonts/subset-ALSRubl.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.ttf?ti63e5") format("truetype"), url("../fonts/icomoon.woff?ti63e5") format("woff"), url("../fonts/icomoon.svg?ti63e5#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.i-eye:before {
  content: "\e914"; }

.i-reload:before {
  content: "\e912"; }

.i-remove:before {
  content: "\e913"; }

.i-soc-you:before {
  content: "\e911"; }

.i-down:before {
  content: "\e900"; }

.i-card:before {
  content: "\e901"; }

.i-compare:before {
  content: "\e902"; }

.i-delivery:before {
  content: "\e903"; }

.i-discount:before {
  content: "\e904"; }

.i-left:before {
  content: "\e908"; }

.i-left-arrow:before {
  content: "\e909"; }

.i-person:before {
  content: "\e90a"; }

.i-phone:before {
  content: "\e90b"; }

.i-right:before {
  content: "\e90c"; }

.i-right-arrow:before {
  content: "\e90d"; }

.i-search:before {
  content: "\e90e"; }

.i-subscribe:before {
  content: "\e90f"; }

.i-triangle:before {
  content: "\e910"; }

.i-soc-fb:before {
  content: "\e905"; }

.i-soc-insta:before {
  content: "\e906"; }

.i-soc-vk:before {
  content: "\e907"; }

body {
  font-family: Verdana, "Verdana", Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
  color: #000; }

a {
  color: inherit;
  text-decoration: none; }

h1, .h1 {
  font-family: "Exo", Arial, sans-serif;
  font-weight: bold;
  font-size: 45px;
  line-height: 1; }
  @media (max-width: 1670px) {
    h1, .h1 {
      font-size: 40px; } }
  @media (max-width: 1024px) {
    h1, .h1 {
      font-size: 30px; } }
  @media (max-width: 680px) {
    h1, .h1 {
      font-size: 24px; } }

h2, .h2 {
  font-family: "Exo", Arial, sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 1.2; }
  @media (max-width: 1670px) {
    h2, .h2 {
      font-size: 36px; } }
  @media (max-width: 1024px) {
    h2, .h2 {
      font-size: 26px; } }
  @media (max-width: 680px) {
    h2, .h2 {
      font-size: 20px; } }

h3, .h3 {
  font-family: "Exo", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.2; }

.small-text {
  font-size: 12px; }

.user-content {
  font-family: Verdana, "Verdana", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4; }
  .user-content h1, .user-content .h1, .user-content h2, .user-content .h2, .user-content h3, .user-content .h3, .user-content h4, .user-content .h4, .user-content h5, .user-content .h5 {
    margin-bottom: 25px; }
  .user-content p, .user-content ul, .user-content ol, .user-content table, .user-content img, .user-content .img-descr, .user-content iframe, .user-content .fluid-width-video-wrapper {
    position: relative;
    margin-bottom: 25px; }
    @media (max-width: 1024px) {
      .user-content p, .user-content ul, .user-content ol, .user-content table, .user-content img, .user-content .img-descr, .user-content iframe, .user-content .fluid-width-video-wrapper {
        margin-bottom: 15px; } }
    .user-content p:last-child, .user-content ul:last-child, .user-content ol:last-child, .user-content table:last-child, .user-content img:last-child, .user-content .img-descr:last-child, .user-content iframe:last-child, .user-content .fluid-width-video-wrapper:last-child {
      margin-bottom: 0; }
  .user-content img {
    max-width: 100%;
    height: auto;
    border-radius: 15px; }
  .user-content a:not(.btn) {
    color: #2f7bff;
    transition: all 0.3s ease; }
    .user-content a:not(.btn):hover {
      color: #f81242; }
  .user-content ul {
    list-style: none; }
    .user-content ul li {
      position: relative;
      padding-left: 20px;
      padding-bottom: 5px; }
      .user-content ul li:before {
        content: '';
        position: absolute;
        top: 6px;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4px 0 4px 8px;
        border-color: transparent transparent transparent #000000; }
        @media (max-width: 1024px) {
          .user-content ul li:before {
            top: 4px; } }
    .user-content ul.files-list {
      list-style: none; }
      .user-content ul.files-list li {
        padding-left: 25px;
        margin-bottom: 10px; }
        .user-content ul.files-list li:before {
          width: 15px;
          height: 21px;
          background: url("../img/file-icon.png") center top no-repeat;
          background-size: contain;
          border: none;
          top: 0; }
  .user-content table {
    border-collapse: collapse; }
    .user-content table tr:nth-child(2n) {
      background: #f0f0f7; }
    .user-content table td {
      border: 1px solid #ebebeb;
      padding: 10px; }
      @media (max-width: 680px) {
        .user-content table td {
          padding: 6px; } }
  .user-content i {
    font-family: Verdana, "Verdana", Arial, sans-serif !important;
    font-style: italic !important;
    font-size: 14px;
    line-height: 1.4; }
    @media (max-width: 1024px) {
      .user-content i {
        font-size: 12px; } }
  .user-content--mini {
    font-size: 12px;
    line-height: 1.8; }
    @media (max-width: 1024px) {
      .user-content--mini {
        font-size: 10px; } }

.rub {
  font-family: Arial,sans-serif;
  font-size: 75%; }

.img-descr {
  color: #b4b4b4;
  margin-top: -15px; }

.fluid-width-video-wrapper {
  border-radius: 15px;
  overflow: hidden;
  background: #f0f0f7; }
  .fluid-width-video-wrapper iframe {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.grid-0, .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  max-width: 100%; }

.hidden {
  display: none !important; }

.grid-5-in-row {
  width: 20%; }

.grid-0 {
  width: 0%; }

.grid-off-0 {
  margin-left: 0%; }

.grid-1 {
  width: 8.33333%; }

.grid-off-1 {
  margin-left: 8.33333%; }

.grid-2 {
  width: 16.66667%; }

.grid-off-2 {
  margin-left: 16.66667%; }

.grid-3 {
  width: 25%; }

.grid-off-3 {
  margin-left: 25%; }

.grid-4 {
  width: 33.33333%; }

.grid-off-4 {
  margin-left: 33.33333%; }

.grid-5 {
  width: 41.66667%; }

.grid-off-5 {
  margin-left: 41.66667%; }

.grid-6 {
  width: 50%; }

.grid-off-6 {
  margin-left: 50%; }

.grid-7 {
  width: 58.33333%; }

.grid-off-7 {
  margin-left: 58.33333%; }

.grid-8 {
  width: 66.66667%; }

.grid-off-8 {
  margin-left: 66.66667%; }

.grid-9 {
  width: 75%; }

.grid-off-9 {
  margin-left: 75%; }

.grid-10 {
  width: 83.33333%; }

.grid-off-10 {
  margin-left: 83.33333%; }

.grid-11 {
  width: 91.66667%; }

.grid-off-11 {
  margin-left: 91.66667%; }

.grid-12 {
  width: 100%; }

.grid-off-12 {
  margin-left: 100%; }

@media (max-width: 1670px) {
  .grid-0_xxl {
    width: 0%; }
  .grid-off-0_xxl {
    margin-left: 0%; }
  .grid-1_xxl {
    width: 8.33333%; }
  .grid-off-1_xxl {
    margin-left: 8.33333%; }
  .grid-2_xxl {
    width: 16.66667%; }
  .grid-off-2_xxl {
    margin-left: 16.66667%; }
  .grid-3_xxl {
    width: 25%; }
  .grid-off-3_xxl {
    margin-left: 25%; }
  .grid-4_xxl {
    width: 33.33333%; }
  .grid-off-4_xxl {
    margin-left: 33.33333%; }
  .grid-5_xxl {
    width: 41.66667%; }
  .grid-off-5_xxl {
    margin-left: 41.66667%; }
  .grid-6_xxl {
    width: 50%; }
  .grid-off-6_xxl {
    margin-left: 50%; }
  .grid-7_xxl {
    width: 58.33333%; }
  .grid-off-7_xxl {
    margin-left: 58.33333%; }
  .grid-8_xxl {
    width: 66.66667%; }
  .grid-off-8_xxl {
    margin-left: 66.66667%; }
  .grid-9_xxl {
    width: 75%; }
  .grid-off-9_xxl {
    margin-left: 75%; }
  .grid-10_xxl {
    width: 83.33333%; }
  .grid-off-10_xxl {
    margin-left: 83.33333%; }
  .grid-11_xxl {
    width: 91.66667%; }
  .grid-off-11_xxl {
    margin-left: 91.66667%; }
  .grid-12_xxl {
    width: 100%; }
  .grid-off-12_xxl {
    margin-left: 100%; } }

@media (max-width: 1400px) {
  .grid-0_xl {
    width: 0%; }
  .grid-off-0_xl {
    margin-left: 0%; }
  .grid-1_xl {
    width: 8.33333%; }
  .grid-off-1_xl {
    margin-left: 8.33333%; }
  .grid-2_xl {
    width: 16.66667%; }
  .grid-off-2_xl {
    margin-left: 16.66667%; }
  .grid-3_xl {
    width: 25%; }
  .grid-off-3_xl {
    margin-left: 25%; }
  .grid-4_xl {
    width: 33.33333%; }
  .grid-off-4_xl {
    margin-left: 33.33333%; }
  .grid-5_xl {
    width: 41.66667%; }
  .grid-off-5_xl {
    margin-left: 41.66667%; }
  .grid-6_xl {
    width: 50%; }
  .grid-off-6_xl {
    margin-left: 50%; }
  .grid-7_xl {
    width: 58.33333%; }
  .grid-off-7_xl {
    margin-left: 58.33333%; }
  .grid-8_xl {
    width: 66.66667%; }
  .grid-off-8_xl {
    margin-left: 66.66667%; }
  .grid-9_xl {
    width: 75%; }
  .grid-off-9_xl {
    margin-left: 75%; }
  .grid-10_xl {
    width: 83.33333%; }
  .grid-off-10_xl {
    margin-left: 83.33333%; }
  .grid-11_xl {
    width: 91.66667%; }
  .grid-off-11_xl {
    margin-left: 91.66667%; }
  .grid-12_xl {
    width: 100%; }
  .grid-off-12_xl {
    margin-left: 100%; } }

@media (max-width: 1024px) {
  .grid-0_l {
    width: 0%; }
  .grid-off-0_l {
    margin-left: 0%; }
  .grid-1_l {
    width: 8.33333%; }
  .grid-off-1_l {
    margin-left: 8.33333%; }
  .grid-2_l {
    width: 16.66667%; }
  .grid-off-2_l {
    margin-left: 16.66667%; }
  .grid-3_l {
    width: 25%; }
  .grid-off-3_l {
    margin-left: 25%; }
  .grid-4_l {
    width: 33.33333%; }
  .grid-off-4_l {
    margin-left: 33.33333%; }
  .grid-5_l {
    width: 41.66667%; }
  .grid-off-5_l {
    margin-left: 41.66667%; }
  .grid-6_l {
    width: 50%; }
  .grid-off-6_l {
    margin-left: 50%; }
  .grid-7_l {
    width: 58.33333%; }
  .grid-off-7_l {
    margin-left: 58.33333%; }
  .grid-8_l {
    width: 66.66667%; }
  .grid-off-8_l {
    margin-left: 66.66667%; }
  .grid-9_l {
    width: 75%; }
  .grid-off-9_l {
    margin-left: 75%; }
  .grid-10_l {
    width: 83.33333%; }
  .grid-off-10_l {
    margin-left: 83.33333%; }
  .grid-11_l {
    width: 91.66667%; }
  .grid-off-11_l {
    margin-left: 91.66667%; }
  .grid-12_l {
    width: 100%; }
  .grid-off-12_l {
    margin-left: 100%; } }

@media (max-width: 768px) {
  .grid-0_m {
    width: 0%; }
  .grid-off-0_m {
    margin-left: 0%; }
  .grid-1_m {
    width: 8.33333%; }
  .grid-off-1_m {
    margin-left: 8.33333%; }
  .grid-2_m {
    width: 16.66667%; }
  .grid-off-2_m {
    margin-left: 16.66667%; }
  .grid-3_m {
    width: 25%; }
  .grid-off-3_m {
    margin-left: 25%; }
  .grid-4_m {
    width: 33.33333%; }
  .grid-off-4_m {
    margin-left: 33.33333%; }
  .grid-5_m {
    width: 41.66667%; }
  .grid-off-5_m {
    margin-left: 41.66667%; }
  .grid-6_m {
    width: 50%; }
  .grid-off-6_m {
    margin-left: 50%; }
  .grid-7_m {
    width: 58.33333%; }
  .grid-off-7_m {
    margin-left: 58.33333%; }
  .grid-8_m {
    width: 66.66667%; }
  .grid-off-8_m {
    margin-left: 66.66667%; }
  .grid-9_m {
    width: 75%; }
  .grid-off-9_m {
    margin-left: 75%; }
  .grid-10_m {
    width: 83.33333%; }
  .grid-off-10_m {
    margin-left: 83.33333%; }
  .grid-11_m {
    width: 91.66667%; }
  .grid-off-11_m {
    margin-left: 91.66667%; }
  .grid-12_m {
    width: 100%; }
  .grid-off-12_m {
    margin-left: 100%; } }

@media (max-width: 680px) {
  .grid-0_s {
    width: 0%; }
  .grid-off-0_s {
    margin-left: 0%; }
  .grid-1_s {
    width: 8.33333%; }
  .grid-off-1_s {
    margin-left: 8.33333%; }
  .grid-2_s {
    width: 16.66667%; }
  .grid-off-2_s {
    margin-left: 16.66667%; }
  .grid-3_s {
    width: 25%; }
  .grid-off-3_s {
    margin-left: 25%; }
  .grid-4_s {
    width: 33.33333%; }
  .grid-off-4_s {
    margin-left: 33.33333%; }
  .grid-5_s {
    width: 41.66667%; }
  .grid-off-5_s {
    margin-left: 41.66667%; }
  .grid-6_s {
    width: 50%; }
  .grid-off-6_s {
    margin-left: 50%; }
  .grid-7_s {
    width: 58.33333%; }
  .grid-off-7_s {
    margin-left: 58.33333%; }
  .grid-8_s {
    width: 66.66667%; }
  .grid-off-8_s {
    margin-left: 66.66667%; }
  .grid-9_s {
    width: 75%; }
  .grid-off-9_s {
    margin-left: 75%; }
  .grid-10_s {
    width: 83.33333%; }
  .grid-off-10_s {
    margin-left: 83.33333%; }
  .grid-11_s {
    width: 91.66667%; }
  .grid-off-11_s {
    margin-left: 91.66667%; }
  .grid-12_s {
    width: 100%; }
  .grid-off-12_s {
    margin-left: 100%; } }

@media (max-width: 480px) {
  .grid-0_xs {
    width: 0%; }
  .grid-off-0_xs {
    margin-left: 0%; }
  .grid-1_xs {
    width: 8.33333%; }
  .grid-off-1_xs {
    margin-left: 8.33333%; }
  .grid-2_xs {
    width: 16.66667%; }
  .grid-off-2_xs {
    margin-left: 16.66667%; }
  .grid-3_xs {
    width: 25%; }
  .grid-off-3_xs {
    margin-left: 25%; }
  .grid-4_xs {
    width: 33.33333%; }
  .grid-off-4_xs {
    margin-left: 33.33333%; }
  .grid-5_xs {
    width: 41.66667%; }
  .grid-off-5_xs {
    margin-left: 41.66667%; }
  .grid-6_xs {
    width: 50%; }
  .grid-off-6_xs {
    margin-left: 50%; }
  .grid-7_xs {
    width: 58.33333%; }
  .grid-off-7_xs {
    margin-left: 58.33333%; }
  .grid-8_xs {
    width: 66.66667%; }
  .grid-off-8_xs {
    margin-left: 66.66667%; }
  .grid-9_xs {
    width: 75%; }
  .grid-off-9_xs {
    margin-left: 75%; }
  .grid-10_xs {
    width: 83.33333%; }
  .grid-off-10_xs {
    margin-left: 83.33333%; }
  .grid-11_xs {
    width: 91.66667%; }
  .grid-off-11_xs {
    margin-left: 91.66667%; }
  .grid-12_xs {
    width: 100%; }
  .grid-off-12_xs {
    margin-left: 100%; } }

@media (max-width: 375px) {
  .grid-0_xxs {
    width: 0%; }
  .grid-off-0_xxs {
    margin-left: 0%; }
  .grid-1_xxs {
    width: 8.33333%; }
  .grid-off-1_xxs {
    margin-left: 8.33333%; }
  .grid-2_xxs {
    width: 16.66667%; }
  .grid-off-2_xxs {
    margin-left: 16.66667%; }
  .grid-3_xxs {
    width: 25%; }
  .grid-off-3_xxs {
    margin-left: 25%; }
  .grid-4_xxs {
    width: 33.33333%; }
  .grid-off-4_xxs {
    margin-left: 33.33333%; }
  .grid-5_xxs {
    width: 41.66667%; }
  .grid-off-5_xxs {
    margin-left: 41.66667%; }
  .grid-6_xxs {
    width: 50%; }
  .grid-off-6_xxs {
    margin-left: 50%; }
  .grid-7_xxs {
    width: 58.33333%; }
  .grid-off-7_xxs {
    margin-left: 58.33333%; }
  .grid-8_xxs {
    width: 66.66667%; }
  .grid-off-8_xxs {
    margin-left: 66.66667%; }
  .grid-9_xxs {
    width: 75%; }
  .grid-off-9_xxs {
    margin-left: 75%; }
  .grid-10_xxs {
    width: 83.33333%; }
  .grid-off-10_xxs {
    margin-left: 83.33333%; }
  .grid-11_xxs {
    width: 91.66667%; }
  .grid-off-11_xxs {
    margin-left: 91.66667%; }
  .grid-12_xxs {
    width: 100%; }
  .grid-off-12_xxs {
    margin-left: 100%; } }

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1220px;
  position: relative;
  padding-left: 20px;
  padding-right: 20px; }
  @media (max-width: 680px) {
    .container {
      padding-left: 14px;
      padding-right: 14px; } }

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -14px;
  margin-right: -14px; }
  @media (max-width: 1670px) {
    .row {
      margin-left: -10px;
      margin-right: -10px; } }
  @media (max-width: 375px) {
    .row {
      margin-left: -5px;
      margin-right: -5px; } }
  .row [class^="grid"] {
    padding-left: 14px;
    padding-right: 14px; }
    @media (max-width: 1670px) {
      .row [class^="grid"] {
        padding-left: 10px;
        padding-right: 10px; } }
    @media (max-width: 375px) {
      .row [class^="grid"] {
        padding-left: 5px;
        padding-right: 5px; } }
  .row--center {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .row--middle {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }

.row-ng {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.clearfix:before {
  content: " ";
  display: table; }

.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

.img-responsive {
  width: 100%;
  height: auto; }

.s-def {
  padding: 40px 0; }
  @media (max-width: 1670px) {
    .s-def {
      padding: 30px 0; } }
  @media (max-width: 680px) {
    .s-def {
      padding: 20px 0; } }

.s-def-top {
  padding-top: 40px; }
  @media (max-width: 1670px) {
    .s-def-top {
      padding-top: 30px; } }
  @media (max-width: 680px) {
    .s-def-top {
      padding-top: 20px; } }

.s-def-bottom {
  padding-bottom: 40px; }
  @media (max-width: 1670px) {
    .s-def-bottom {
      padding-bottom: 30px; } }
  @media (max-width: 680px) {
    .s-def-bottom {
      padding-bottom: 20px; } }

.border-block {
  border-radius: 15px;
  border: 1px solid #ebebeb;
  padding: 30px; }
  @media (max-width: 1024px) {
    .border-block {
      padding: 20px; } }
  @media (max-width: 680px) {
    .border-block {
      padding: 20px 15px; } }

.gray-bg {
  background: #f0f0f7; }

label {
  cursor: pointer; }

.text-input {
  display: inline-block;
  font-family: Verdana, "Verdana", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.3;
  -webkit-appearance: none;
  border: 1px solid #666;
  padding: 5px 10px;
  overflow: visible; }
  .text-input::-webkit-input-placeholder {
    font-size: 14px;
    color: #A8A8A8;
    opacity: 1;
    transition: all 0.3s ease; }
  .text-input:-ms-input-placeholder {
    font-size: 14px;
    color: #A8A8A8;
    opacity: 1;
    transition: all 0.3s ease; }
  .text-input::placeholder {
    font-size: 14px;
    color: #A8A8A8;
    opacity: 1;
    transition: all 0.3s ease; }
  .text-input:focus {
    outline: none; }
    .text-input:focus::-webkit-input-placeholder {
      opacity: 0; }
    .text-input:focus:-ms-input-placeholder {
      opacity: 0; }
    .text-input:focus::placeholder {
      opacity: 0; }

.style-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  margin-bottom: 15px;
  font-size: 12px; }
  .style-checkbox input {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0; }
    .style-checkbox input:checked + span:after {
      opacity: 1; }
    .style-checkbox input.error + span:before {
      border-color: #cc0000; }
  .style-checkbox span {
    display: block;
    position: relative;
    padding-left: 30px; }
    .style-checkbox span:before {
      content: '';
      width: 20px;
      height: 20px;
      border: 2px solid #353434;
      position: absolute;
      left: 0;
      top: 0;
      transition: all 0.3s ease; }
    .style-checkbox span:after {
      content: '';
      width: 20px;
      height: 20px;
      background: #353434;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      opacity: 0;
      transition: opacity 0.3s ease; }
    .style-checkbox span a {
      color: #353434; }

.btn {
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding: 10px 22px;
  font-size: 16px;
  font-family: "Exo", Arial, sans-serif;
  font-weight: bold;
  line-height: 1.3;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #f0f0f7;
  color: #2f7bff;
  border: none;
  border-radius: 25px;
  box-shadow: 0 3px 8px -3px transparent;
  -webkit-tap-highlight-color: transparent; }
  @media (max-width: 480px) {
    .btn {
      font-size: 12px;
      padding: 10px 14px; } }
  .btn:hover, .btn:focus {
    color: #2f7bff;
    outline: none;
    box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.5);
    background: #dfdfee; }
  .btn:active {
    color: #2f7bff;
    background: #cfcfe5;
    box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.5); }
  .btn i.i-down {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    top: -0.1em;
    font-size: 8px;
    -webkit-transform-origin: 50% 45%;
    transform-origin: 50% 45%;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease; }
  .btn.active i.i-down {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg); }

button::-moz-focus-inner {
  border: 0;
  padding: 0; }

.btn--red {
  background: #f81242;
  color: #FFF; }
  .btn--red:hover, .btn--red:focus {
    color: #FFF;
    background: #d10630;
    box-shadow: 0 4px 10px -3px rgba(0, 0, 0, 0.6); }
  .btn--red:active {
    color: #FFF;
    background: #b8052b;
    box-shadow: 0 4px 10px -3px rgba(0, 0, 0, 0.6); }

.btn--blue {
  background: #2f7bff;
  color: #FFF; }
  .btn--blue:hover, .btn--blue:focus {
    color: #FFF;
    background: #005cfb;
    box-shadow: 0 4px 10px -3px rgba(0, 0, 0, 0.6); }
  .btn--blue:active {
    color: #FFF;
    background: #0052e2;
    box-shadow: 0 4px 10px -3px rgba(0, 0, 0, 0.6); }

.btn--white {
  background: #fff;
  color: #000; }

.btn--small {
  font-family: Verdana, "Verdana", Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  padding: 8px 18px; }

.btn--small-white {
  background: #FFF;
  font-family: Verdana, "Verdana", Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  padding: 8px 18px; }

.btn--round {
  width: 40px;
  height: 40px;
  padding: 0; }
  @media (max-width: 480px) {
    .btn--round {
      width: 35px;
      height: 35px; } }
  .btn--round i {
    display: block; }
  .btn--round i.i-compare {
    font-size: 21px; }
  .btn--round.del_from_compare {
    background: #00c453;
    color: #FFF; }

.btn.loading {
  overflow: hidden;
  color: transparent; }
  .btn.loading:before {
    content: '';
    position: absolute;
    z-index: 1;
    background: #FFF;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-animation: loadingbtn 0.5s infinite ease alternate;
    animation: loadingbtn 0.5s infinite ease alternate;
    opacity: 0;
    border-radius: 10px; }

@-webkit-keyframes loadingbtn {
  from {
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate3d(20px, 0, 0) scale3d(0.5, 0.5, 0.5);
    transform: translate3d(20px, 0, 0) scale3d(0.5, 0.5, 0.5);
    opacity: 1; } }

@keyframes loadingbtn {
  from {
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
    opacity: 1; }
  to {
    -webkit-transform: translate3d(20px, 0, 0) scale3d(0.5, 0.5, 0.5);
    transform: translate3d(20px, 0, 0) scale3d(0.5, 0.5, 0.5);
    opacity: 1; } }

.modal {
  display: none;
  width: 500px;
  max-width: 100%;
  will-change: transform,opacity;
  overflow: visible !important; }

.fancybox-bg {
  background: #8c8e9a; }

.fancybox-close-small, .fancybox-slide--image .fancybox-close-small, .fancybox-slide--video .fancybox-close-small, .fancybox-slide--iframe .fancybox-close-small {
  position: absolute;
  top: -16px;
  right: -16px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #f81242;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none; }
  @media (max-width: 680px) {
    .fancybox-close-small, .fancybox-slide--image .fancybox-close-small, .fancybox-slide--video .fancybox-close-small, .fancybox-slide--iframe .fancybox-close-small {
      top: 5px;
      right: 5px; } }
  .fancybox-close-small:hover, .fancybox-slide--image .fancybox-close-small:hover, .fancybox-slide--video .fancybox-close-small:hover, .fancybox-slide--iframe .fancybox-close-small:hover {
    background-color: #d10630; }
  .fancybox-close-small:before, .fancybox-close-small:after, .fancybox-slide--image .fancybox-close-small:before, .fancybox-slide--image .fancybox-close-small:after, .fancybox-slide--video .fancybox-close-small:before, .fancybox-slide--video .fancybox-close-small:after, .fancybox-slide--iframe .fancybox-close-small:before, .fancybox-slide--iframe .fancybox-close-small:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -8px;
    width: 16px;
    height: 2px;
    background: #FFF;
    transition: all 0.3s ease;
    border-radius: 0; }
  .fancybox-close-small:hover:before, .fancybox-close-small:hover:after, .fancybox-slide--image .fancybox-close-small:hover:before, .fancybox-slide--image .fancybox-close-small:hover:after, .fancybox-slide--video .fancybox-close-small:hover:before, .fancybox-slide--video .fancybox-close-small:hover:after, .fancybox-slide--iframe .fancybox-close-small:hover:before, .fancybox-slide--iframe .fancybox-close-small:hover:after {
    background-color: #FFF; }
  .fancybox-close-small:before, .fancybox-slide--image .fancybox-close-small:before, .fancybox-slide--video .fancybox-close-small:before, .fancybox-slide--iframe .fancybox-close-small:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .fancybox-close-small:after, .fancybox-slide--image .fancybox-close-small:after, .fancybox-slide--video .fancybox-close-small:after, .fancybox-slide--iframe .fancybox-close-small:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .fancybox-close-small:focus, .fancybox-slide--image .fancybox-close-small:focus, .fancybox-slide--video .fancybox-close-small:focus, .fancybox-slide--iframe .fancybox-close-small:focus {
    outline: none; }
    .fancybox-close-small:focus:before, .fancybox-close-small:focus:after, .fancybox-slide--image .fancybox-close-small:focus:before, .fancybox-slide--image .fancybox-close-small:focus:after, .fancybox-slide--video .fancybox-close-small:focus:before, .fancybox-slide--video .fancybox-close-small:focus:after, .fancybox-slide--iframe .fancybox-close-small:focus:before, .fancybox-slide--iframe .fancybox-close-small:focus:after {
      outline: none; }
  .fancybox-close-small svg, .fancybox-slide--image .fancybox-close-small svg, .fancybox-slide--video .fancybox-close-small svg, .fancybox-slide--iframe .fancybox-close-small svg {
    display: none; }

.fancybox-slide--video {
  padding: 40px 18px; }

.header-sec {
  padding: 10px 0;
  background: #fff; }

.header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.header__logo img {
  max-width: 205px; }

.header__about {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .header__about span {
    max-width: 140px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
    font-family: "Exo", Arial, sans-serif;
    line-height: 1.2;
    color: #2f7bff; }

.header__about-img {
  padding: 8px 20px;
  border: 1px solid #b7b7b7;
  border-radius: 20px; }
  .header__about-img img {
    display: block;
    max-width: 100px;
    max-height: 25px;
    margin: 0 auto; }

.header__garant {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.header__garant-info {
  margin-left: 10px; }
  .header__garant-info p {
    font-family: "Exo", Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2; }
  .header__garant-info span {
    font-size: 12px; }

.header__contact {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.header__contact-info {
  margin-left: 10px; }
  .header__contact-info a {
    display: block;
    font-family: "Exo", Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.2; }
    .header__contact-info a.fancy {
      color: #2f7bff;
      font-family: Verdana, "Verdana", Arial, sans-serif;
      font-weight: normal;
      font-size: 12px; }

.big-head-sec {
  background: url("../img/bg-blue-triangle.jpg") no-repeat center top; }

.big-head__info {
  color: #fff; }

.big-head__descr {
  padding-bottom: 50px; }
  .big-head__descr span {
    font-size: 18px;
    font-family: "Exo", Arial, sans-serif;
    text-transform: uppercase; }
  .big-head__descr h1 {
    padding-bottom: 15px; }
  .big-head__descr p {
    font-size: 16px;
    line-height: 1.625; }

.big-head__price {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-bottom: 20px;
  font-family: "Exo", Arial, sans-serif; }

.big-head__price-title {
  width: 100%;
  font-size: 24px; }

.big-head__price-old {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  margin-top: 5px;
  padding-right: 3px;
  font-size: 30px;
  white-space: nowrap; }
  .big-head__price-old:after {
    content: '';
    position: absolute;
    top: 18px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff; }

.big-head__price-new {
  font-size: 48px;
  line-height: 1.2;
  color: #f81242;
  white-space: nowrap; }

.s-about__title {
  margin-bottom: 25px; }

@media (max-width: 680px) {
  .s-about .slider {
    margin-top: 40px; } }

.slider {
  height: 0;
  opacity: 0;
  overflow: hidden; }
  @media (max-width: 480px) {
    .slider {
      margin-left: -14px;
      margin-right: -14px; } }
  .slider.flickity-enabled {
    height: auto;
    opacity: 1; }

.slide {
  width: 100%;
  height: 500px; }
  @media (max-width: 768px) {
    .slide {
      height: 400px; } }
  @media (max-width: 375px) {
    .slide {
      height: 300px; } }
  .slide img {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    max-width: calc(100% - 2px);
    max-height: 100%;
    border-radius: 15px; }

.flickity-prev-next-button {
  height: 50px;
  width: 50px;
  background: transparent; }
  .flickity-prev-next-button:focus {
    background: transparent;
    box-shadow: none; }
  .flickity-prev-next-button:hover {
    background: transparent; }
    .flickity-prev-next-button:hover .flickity-button-icon {
      fill: #629bff; }
  .flickity-prev-next-button:disabled {
    pointer-events: all; }
  .flickity-prev-next-button .flickity-button-icon {
    fill: #2f7bff;
    transition: fill 0.2s ease; }
  .flickity-prev-next-button.previous {
    left: 0; }
  .flickity-prev-next-button.next {
    right: 0; }

.s-result {
  background: #171821;
  color: #FFF; }
  .s-result__title {
    margin-bottom: 25px; }
  @media (max-width: 680px) {
    .s-result .slider {
      margin-top: 40px; } }

.s-preims {
  background: #171821;
  color: #FFF; }
  .s-preims__title {
    margin-bottom: 40px; }

.preims {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }
  @media (max-width: 768px) {
    .preims {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.preim {
  background: #FFF;
  border-radius: 20px;
  color: #000;
  overflow: hidden;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 10px;
  max-width: 275px; }
  @media (max-width: 1024px) {
    .preim {
      margin: 0 5px; } }
  @media (max-width: 768px) {
    .preim {
      margin-bottom: 10px;
      width: 215px;
      min-width: 215px; } }
  .preim header img {
    width: 100%;
    height: auto; }
  .preim__title {
    font-family: "Exo", Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
    padding: 15px 20px 5px 20px; }
    @media (max-width: 1024px) {
      .preim__title {
        padding: 10px 15px 5px 15px;
        font-size: 14px; } }
  .preim__descr {
    font-size: 12px;
    padding: 0 20px 20px 20px; }
    @media (max-width: 1024px) {
      .preim__descr {
        padding: 0 15px 15px 15px; } }

.s-table {
  background: #171821;
  color: #FFF; }
  .s-table__title {
    margin-bottom: 25px; }

.tech-table {
  line-height: 1.2; }
  .tech-table__more {
    text-align: center;
    padding-top: 30px; }
    @media (max-width: 680px) {
      .tech-table__more {
        padding-top: 20px; } }
    .tech-table__more a {
      color: #2f7bff;
      transition: all 0.3s ease;
      white-space: nowrap; }
      .tech-table__more a i {
        display: inline-block;
        font-size: 8px;
        margin-left: 5px; }
      .tech-table__more a:hover {
        color: #FFF; }

.tech-table--hide {
  display: none; }
  .tech-table--hide i {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    position: relative;
    top: -0.2em; }

.tech-row {
  border-top: 1px solid #5f6489;
  padding: 12px 10px; }
  @media (max-width: 680px) {
    .tech-row {
      padding: 8px 10px; } }
  .tech-row:first-child {
    border-top: none; }
  .tech-row__key {
    display: inline-block;
    vertical-align: top;
    color: #5f6489;
    width: 290px; }
    @media (max-width: 680px) {
      .tech-row__key {
        display: block;
        width: 100%;
        margin-bottom: 4px; } }
  .tech-row__value {
    display: inline-block;
    vertical-align: top; }
  .tech-row--hidden {
    display: none; }
