%link-blue-hover{
	transition: color 0.3s ease;

	&:hover,&:focus{
		outline: none;
		color: $blue;
	}
}

%link-blue{
	color: $blue;
	transition: color 0.3s ease;

	&:hover,&:focus{
		outline: none;
		color: #000;
	}
}

%sec-paddings{
	padding: 80px 0;
	@include res(xl){
		padding: 60px 0;
	}
	@include res(s){
		padding: 40px 0;
	}
}

%sec-paddings-bottom{
	padding: 0 0 80px 0;
	@include res(xl){
		padding: 0 0 60px 0;
	}
	@include res(s){
		padding: 0 0 40px 0;
	}
}

%sec-paddings-top{
	padding: 80px 0 0 0;
	@include res(xl){
		padding: 60px 0 0 0;
	}
	@include res(s){
		padding: 40px 0 0 0;
	}
}